body {
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
	
	padding: 10px 14px 10px 14px;
	
	background-color: #faebd7;
	
}
h1 {
  text-align:center;
}
h2 {
  text-align:center;
}
.indent {
	padding: 0px 12px;
}
